.teams {
  inline-size: 100%;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  position: relative;
}
.input_color {
  position: absolute;
  top: 20px;
  right: 50px;
}
.teams h3 {
  font-weight: 400;
  color: #212121;
  border-block-end: 4px solid;
  display: inline-block;
  padding-block-end: 8px;
}

.teamMembers {
  display: flex;
  justify-content: space-evenly;
}
